 <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="favs-checkbox" data-dog_id = "{{id}}">
  <label class="form-check-label" for="flexCheckDefault">
   Add to Favorites
  </label>
</div>
<script src="/js/favorites.js"></script>