<div class="pretty p-icon p-toggle p-plain form-check text-center">
  <input
    class="form-check-input row"
    type="checkbox"
    value=""
    id="favs-checkbox"
    data-dog_id="{{id}}"
  />
  <div class="state p-off">
    <i class="icon fa fa-heart-o"></i>
    <label class="form-check-label" for="flexCheckDefault">Add to Favorites</label>
  </div>
  <div class="state p-on p-info-o">
    <i class="icon fa fa-heart"></i>
    <label class="form-check-label" for="flexCheckDefault">Add to Favorites</label>
  </div>
</div>