<div
  class="pretty p-icon p-toggle p-plain form-check row justify-content-center"
>
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="favs-checkbox"
    data-dog_id="{{id}}"
    name="favorite"
  />
  <div class="state p-off">
    <i
      class="icon fa fa-heart-o"
      style="position: relative !important; top: auto !important;"
    ></i>
    <label class="form-check-label" for="favs-checkbox">Add to Favorites</label>
  </div>
  <div class="state p-on p-info-o">
    <i
      class="icon fa fa-heart"
      style="position: relative !important; top: auto !important;"
    ></i>
    <label class="form-check-label" for="favs-checkbox">Add to Favorites</label>
  </div>
</div>