 <body class="bg-image">
{{#if loggedIn}}
    {{#if currentUser}}
        <h1>Nice to see you {{currentUser.first_name}} {{currentUser.last_name}}</h1>
    {{/if}}
{{/if}}

<h1>Dogs,</h1>
<h3>Dogs...</h3>
<h6>And More Dogs!</h6>

<a href="/vote">
    <button type="button" class="btn btn-dark btn-lg" id="vote-button">Vote for Dogs!</button>
</a>
 </body>





