
<div class="bg-image" style="">
    <h1 class="text-white">Dogs,</h1>
    <h3 class="text-white">Dogs...</h3>
    <h6 class="text-white">And More Dogs!</h6>
</div>

{{#if loggedIn}}
    {{#if currentUser}}
        <h1>Nice to see you {{currentUser.first_name}} {{currentUser.last_name}}</h1>
    {{/if}}
{{/if}}

