 <body class="bg-image">
{{#if loggedIn}}
    {{#if currentUser}}
        <div class="welcome-message">Nice to see you {{currentUser.first_name}} {{currentUser.last_name}}</div>
    {{/if}}
{{/if}}
<div class="dogs-dogs-more-dogs">
    <h1 class="homepage-h1">Dogs,</h1>
    <h3>Dogs...</h3>
    <h6>And More Dogs!</h6>
</div>

{{!-- <a href="/vote">
    <button type="button" class="btn btn-dark btn-lg custom-homepage-button fs-3" id="vote-button">Vote for Dogs!</button>
</a> --}}
 </body>





