<h1 class="text-center">Top Dogs</h1>

<div class="container">

  <div class="row my-3 height">
    <div class="col-lg-4">
      <img
        class="rounded-circle mx-auto d-block"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Dog Contestant One"
        width="140"
        height="140"
      />
      <h2 class="text-center">Dog Name</h2>
      <button class="btn"><i class="fa fa-heart"></i> Favorite</button>
      <p><a class="btn btn-secondary" href="#" role="button">Cute</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 h-75 ">
      <img
        class="rounded-circle mx-auto d-block"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Dog Contestant Two"
        width="360"
        height="360"
      />
      <h2 class="text-center">Dog Name</h2>
      <button class="btn"><i class="fa fa-heart"></i> Favorite</button>
      <p><a class="btn btn-secondary" href="#" role="button">Cute</a></p>
    </div>
</div>