<h1 class="text-center">Choose the Cutest!</h1>

<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-lg-4">
      <img
        class="rounded-circle mx-auto d-block"
        src="{{dogs.0.url}}"
        alt="Dog Contestant One"
        width="360"
        height="360"
      />
      <h2 class="text-center">Dog Name</h2>
      <button class="btn"><i class="fa fa-heart"></i> Favorite</button>
      <p><a class="btn btn-secondary" href="#" role="button">Cute</a></p>
    </div>
    <div class="col-lg-4">
      <img
        class="rounded-circle mx-auto d-block"
        src="{{dogs.1.url}}"
        alt="Dog Contestant Two"
        width="360"
        height="360"
      />
      <h2 class="text-center">Dog Name</h2>
      <button class="btn"><i class="fa fa-heart"></i> Favorite</button>
      <p><a class="btn btn-secondary" href="#" role="button">Cute</a></p>
    </div>
</div>