<body class="leaderboard-bg">
<h1 class="text-center">Choose the Cutest!</h1>

<div class="container-fluid">

  <div class="row justify-content-center">
    {{#each dogs}}
    <div class="col-lg-4">
      <img
        class="rounded-circle mx-auto d-block"
        src="{{url}}"
        alt="Dog Contestant One"
        width="360"
        height="360"
      />
      <h2 class="text-center">{{name}}</h2>
     {{> favs-button}}

      <p><a class="btn btn-secondary cuter-button" href="#" role="button" data-dog_id="{{id}}">This Dog is Cuter!</a></p>
    </div>
    
    
    {{/each}}
    </div>
  </div>
</body>
    <script src="/js/favorites.js"></script>
   

