<body class="leaderboard-bg">
<h1 class="text-center m-5">Choose the Cutest!</h1>

<div class="container-fluid">

  <div class="row justify-content-center">
    {{#each dogs}}
    <div class="col-4">
      <img
        class="rounded-circle mx-auto d-block shadow p-2 mb-5 bg-body"
        src="{{url}}"
        alt="Dog Contestant One"
        width="480"
        height="480"
      />
      <h2 class="text-center m-3">{{name}}</h2>
      <div class="fav-and-cuter-div">
        {{> favs-button}}

          <p class="row justify-content-center m-3"><a class="btn btn-secondary cuter-button" href="#" role="button" data-dog_id="{{id}}">This Dog is Cuter!</a></p>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
</body>
    <script src="/js/favorites.js"></script>
   

